* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before, *:after,
html {
  box-sizing: border-box;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

@font-face {
  font-family: "Roboto-Thin", Times, serif;
  src: url("/fonts/Roboto/Roboto-Thin.ttf") format(ttf);
}
@font-face {
  font-family: "Roboto-Light", Times, serif;
  src: url("/fonts/Roboto/Roboto-Light.ttf") format(ttf);
}
@font-face {
  font-family: "Roboto-Regular", Times, serif;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format(ttf);
}
@font-face {
  font-family: "Roboto-Bold", Times, serif;
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format(ttf);
}
@font-face {
  font-family: "Shrikhand-Regular", Times, serif;
  src: url("/fonts/Shrikhand/Shrikhand-Regular.ttf") format(ttf);
}
.heart-items {
  position: absolute;
  right: 15px;
  top: 10px;
}

.fa-heart {
  color: grey;
  font-size: 25px;
}

.heart-items i {
  transition: opacity 1s ease-in-out;
}

.heart-fill {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-fill:hover {
  opacity: 1;
}

.header__logo {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 45%;
}
.header__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 25px;
  top: 22px;
  font-size: 20px;
}

.footer {
  background-color: rgb(48, 47, 47);
}
.footer__container {
  padding: 25px 20px 30px 25px;
}
.footer__header {
  font-size: 17px;
  font-family: Shrikhand-Regular;
  color: white;
  padding-bottom: 15px;
}
.footer__logo {
  width: 30%;
}
.footer__logo path {
  fill: white;
}
.footer__flex, .footer__flex2 {
  display: flex;
  align-items: center;
}
.footer__text {
  font-size: 16px;
  font-family: Roboto-Regular;
  color: white;
  line-height: 1.5;
  cursor: pointer;
}
.footer__icon {
  padding-right: 10px;
}
.footer__p:hover {
  text-decoration: underline;
}

#menu__heart {
  position: absolute;
  right: 10px;
  top: 35px;
}

.header__photo {
  height: 250px;
}

.menu {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  background: rgb(241, 241, 241);
  border-radius: 30px 30px 0 0;
  z-index: 999;
  position: relative;
  margin-top: -45px;
  cursor: pointer;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.menu__heading {
  font-weight: 100;
  margin-right: 100px;
  line-height: 1.5;
  font-size: 25px;
  font-family: Shrikhand-Regular;
}
.menu__btn--wrap {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
}
.menu__btn {
  padding: 15px 70px;
  font-size: 16px;
  font-family: Roboto-Regular;
  border-radius: 40px;
  color: white;
  background-image: linear-gradient(to right, #FF79DA, #9356DC, #f892db, #a976de);
  box-shadow: 0 5px 8px 2px lightgrey;
  border-style: none;
  background-size: 300%;
  background-position: left;
  cursor: pointer;
  transition: background-position 500ms;
}
.menu__btn:hover {
  background-position: right;
  box-shadow: 0 4px 12px #a976de;
}

.dishes__container {
  background: white;
  border-radius: 15px;
  padding: 10px 20px 10px 10px;
  margin: 10px 0 12px 0;
  box-shadow: 0 0 10px lightgrey;
}
.dishes__wrap {
  padding: 10px 0 20px 0;
}
.dishes__wrap--fast {
  animation: fast 2s ease-in 2s;
}
@keyframes fast {
  from {
    opacity: 0;
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.dishes__wrap--slow {
  animation: slow 2s ease-in 4s;
}
@keyframes slow {
  from {
    opacity: 0;
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.dishes__wrap--delay {
  animation: delay 2s ease-in 6s;
}
@keyframes delay {
  from {
    opacity: 0;
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.dishes__heading {
  position: relative;
  font-weight: 100;
  padding-top: 10px;
  font-size: 16px;
  font-family: Roboto-Light;
}
.dishes__heading:after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.dishes__heading:hover:after {
  width: 10%;
}
.dishes__byline {
  padding-bottom: 5px;
  font-size: 16px;
  font-family: Roboto-Regular;
}
.dishes__byline--flex {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Roboto-Light;
}

.header {
  text-align: center;
  flex-wrap: wrap;
}
.header__location {
  font-size: 16px;
  font-family: Roboto-Regular;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
  background-color: rgba(236, 236, 230, 0.9647058824);
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 30px;
  box-shadow: inset 0 2px 2px lightgrey;
}
.header__title {
  background-color: rgb(241, 241, 241);
  padding: 30px 30px 50px 30px;
}
.header__heading {
  font-size: 25px;
  font-family: Roboto-Bold;
  padding-bottom: 35px;
}
.header__byline {
  font-size: 18px;
  font-family: Roboto-Thin;
  padding-bottom: 30px;
}
.header__mainbtn {
  font-size: 16px;
  font-family: Roboto-Regular;
  border-radius: 40px;
  color: white;
  background-image: linear-gradient(to right, #FF79DA, #9356DC, #f892db, #a976de);
  box-shadow: 0 5px 8px 2px lightgrey;
  border-style: none;
  background-size: 300%;
  background-position: left;
  cursor: pointer;
  transition: background-position 500ms;
  padding: 15px 22px;
}
.header__mainbtn:hover {
  background-position: right;
  box-shadow: 0 4px 12px #a976de;
}

.nav {
  padding: 40px 10px 40px 10px;
  margin: 0 auto;
}
.nav__heading {
  padding-bottom: 25px;
  font-size: 25px;
  font-family: Roboto-Bold;
}
.nav__list {
  padding-top: 15px;
}
@media screen and (min-width: 1100px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
}
.nav__btn-container {
  margin-left: -10px;
  margin-bottom: 20px;
}
.nav__btn-container:hover {
  transform: translate(1px);
}
.nav__btn {
  width: 90%;
  border-radius: 20px;
  text-align: left;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto-Regular;
  box-shadow: 0 0 10px 2px lightgrey;
  background-color: rgb(241, 241, 241);
  padding: 25px;
  transition: 0.3s ease;
}
.nav__btn:hover {
  background-color: rgba(228, 234, 246, 0.952);
}
.nav__icon {
  border-radius: 100%;
  padding: 5px 8px;
  background: #9356DC;
  color: white;
  font-size: 10px;
  position: relative;
  right: -15px;
}
.nav__icon-fa3 {
  padding: 5px 6px;
}
.nav__btn-grey {
  color: grey;
}
.nav__icon-btn {
  padding-left: 5px;
  padding-right: 15px;
}
.nav__icon-btn:hover {
  color: #9356DC;
}

.container {
  background-color: rgb(241, 241, 241);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1100px) {
  .container__wrap {
    display: flex;
    gap: 30px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1100px) {
  .container__wrap--column1 {
    flex-grow: 1;
  }
}
.container__card {
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px lightgrey;
}
.container__heading {
  font-size: 25px;
  font-family: Roboto-Bold;
  padding-top: 50px;
  padding-bottom: 20px;
}
.container__card {
  border-radius: 15px;
  background-color: white;
}
.container__icon {
  position: relative;
}
.container__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #4e756b;
  padding: 5px 20px 5px 20px;
  font-size: 16px;
  font-family: Roboto-Regular;
}
.container__img {
  border-radius: 15px 15px 0 0;
  height: 160px;
}
.container__text {
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 12px;
}
.container__title {
  font-size: 18px;
  font-family: Roboto-bold;
}
.container__byline {
  font-size: 18px;
  font-family: Roboto-Thin;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
}/*# sourceMappingURL=main.css.map */