@font-face {
    font-family: 'Roboto-Thin', Times, serif;
    src: url('/fonts/Roboto/Roboto-Thin.ttf') format(ttf);
}
@font-face {
    font-family: 'Roboto-Regular', Times, serif;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format(ttf);
}
@font-face {
    font-family: 'Roboto-Bold', Times, serif;
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format(ttf);
}
@font-face {
    font-family: "Shrikhand-Regular", Times, serif;
    src: url('/fonts/Shrikhand/Shrikhand-Regular.ttf') format(ttf);
}