
@mixin location-font {
    font-size: 16px;
    font-family: Roboto-Regular;
}

@mixin header-font {
    font-size: 25px;
    font-family: Roboto-Bold;
}

@mixin text-font {
    font-size: 18px;
    font-family: Roboto-bold;
}

@mixin byline-font {
    font-size: 18px;
    font-family: Roboto-Thin;
}

@mixin logo-font {
    font-size: 17px;
    font-family: Shrikhand-Regular;
}

@mixin menutitle-font {
    font-size: 25px;
    font-family: Shrikhand-Regular;
}

@mixin menu-font {
    font-size: 14px;
    font-family: Roboto-Light;
}
@mixin menu-heading {
    font-size: 16px;
    font-family: Roboto-Light;
}
@mixin main-button {
    @include location-font;
    border-radius: 40px;
    color: white;
    background-image: linear-gradient(to right, $secondary-colour, $primary-colour, $hv2-colour, $hv1-colour);
    box-shadow: 0 5px 8px 2px lightgrey;
    border-style: none;
    background-size: 300%;
    background-position: left;
    cursor: pointer;
    transition: background-position 500ms;

    &:hover {
        background-position: right;
        box-shadow: 0 4px 12px $hv1-colour;
    }
}

@mixin nav-btn {
    width: 100%;
    border-radius: 20px;
    text-align: left;
    border-style: none;
    cursor: pointer;
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
