
.heart-items {
    position: absolute;
    right: 15px;
    top: 10px;
}
.fa-heart {
    color: grey;
    font-size: 25px;
}
.heart-items i {
    transition: opacity 1s ease-in-out;
}
.heart-fill {
    background-image: linear-gradient($primary-colour, $secondary-colour);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}
.heart-fill:hover {
    opacity: 1;
}
