@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('/fonts/Shrikhand/Shrikhand-Regular.ttf');
}