.footer {
    background-color: $hv4-colour;

    &__container {
        padding: 25px 20px 30px 25px;
    }

    &__header {
        @include logo-font;
        color: white;
        padding-bottom: 15px;
    }

    &__logo {
        display: flex;
        width: 30%;

        & path {
            fill: white;
        }

        @include tablet-only {
            display: flex;
            width: 15%;
            margin-bottom: 20px;
        }

        @include desktop-only {
            display: flex;
            width: 10%;
            margin-bottom: 20px;
        }
    }

    &__flex,
    &__flex2 {
        display: flex;
        align-items: center;
    }

    &__text {
        @include location-font;
        color: white;
        line-height: 1.5;
        cursor: pointer;
    }

    &__icon {
        padding-right: 10px;
    }

    &__p:hover {
        text-decoration: underline;
    }

    &__link {
        color: white;
        text-decoration: none;
    }
}