.header {
    &__logo {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 45%;

        @include desktop-only {
            width: 20%;
        }
    }

    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__arrow {
        position: absolute;
        left: 25px;
        top: 22px;
        font-size: 20px;
        cursor: pointer;

        @include desktop-only {
            font-size: 30px;
        }

        @include tablet-only {
            font-size: 30px;
        }
    }

    &__photo {
        height: 250px;

        @include tablet-only {
            height: 300px;
        }

        @include desktop-only {
            height: 350px;
        }
    }
}