.header {
    text-align: center;
    flex-wrap: wrap;

    &__logo {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 45%;

        @include desktop-only {
            width: 20%;
        }
    }

    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__arrow {
        position: absolute;
        left: 25px;
        top: 22px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            transform: translate(2px);
            color: $tertiary-colour;
        }

        @include tablet-only {
            font-size: 30px;
        }

        @include desktop-only {
            font-size: 30px;
        }
    }

    &__photo {
        height: 250px;

        @include tablet-only {
            height: 300px;
        }

        @include desktop-only {
            height: 350px;
        }
    }

    &__photo1 {
        object-position: 100% 65%;
    }

    &__photo2 {
        @include tablet-only {
            object-position: 100% 90%;
        }

        @include desktop-only {
            object-position: 100% 65%;
        }
    }

    &__photo3 {
        @include tablet-only {
            object-position: 100% 60%;
        }

        @include desktop-only {
            object-position: 100% 60%;
        }
    }

    &__photo4 {
        @include tablet-only {
            object-position: 100% 80%;
        }

        @include desktop-only {
            object-position: 100% 70%;
        }
    }
}