#menu__heart {
    position: absolute;
    right: 10px;
    top: 35px;
}

.header__photo {
    height: 250px;

    @include tablet-only {
        height: 300px;
    }

    @include desktop-only {
        height: 350px;
    }
}

.menu {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background: $bg-color;
    border-radius: 30px 30px 0 0;
    z-index: 999;
    position: relative;
    margin-top: -45px;
    cursor: pointer;

    &__header {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    &__heading {
        font-weight: 100;
        margin-right: 100px;
        line-height: 1.5;
        @include menutitle-font;
    }

    &__btn--wrap {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 40px;
    }

    &__btn {
        padding: 15px 70px;
        @include main-button
    }
}

.dishes {

    &__wrap {
        padding: 10px 0 20px 0;

        @include desktop-only {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__wrap--fast {
        animation: fast 2s ease-in 2s;
    }

    @keyframes fast {
        from {
            opacity: 0;
            transform: translatey(10px);
        }

        to {
            opacity: 1;
            transform: translatey(0);
        }
    }

    &__wrap--slow {
        animation: slow 2s ease-in 4s;
    }

    @keyframes slow {
        from {
            opacity: 0;
            transform: translatey(10px);
        }

        to {
            opacity: 1;
            transform: translatey(0);
        }
    }

    &__wrap--delay {
        animation: delay 2s ease-in 6s;
    }

    @keyframes delay {
        from {
            opacity: 0;
            transform: translatey(10px);
        }

        to {
            opacity: 1;
            transform: translatey(0);
        }
    }

    &__container {
        position: relative;
        overflow: hidden;
        background: white;
        border-radius: 15px;
        padding: 10px 10px 10px 10px;
        margin: 10px 0 12px 0;
        box-shadow: 0 0 10px lightgrey;

        @include desktop-only {
            width: 30%;
            height: 80px;
            padding: 15px 0 10px 15px;
            line-height: 1.5;
        }
    }

    &__heading {
        position: relative;
        font-weight: 100;
        padding-top: 10px;
        @include menu-heading
    }

    &__heading:after {
        content: "";
        position: absolute;
        background-color: $tertiary-colour;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    &__heading:hover:after {
        width: 10%;

        @include desktop-only {
            width: 5%;
        }

        @include tablet-only {
            width: 5%;
        }
    }

    &__byline {
        padding-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include location-font
    }

    &__byline--flex {
        position: relative;
        padding-right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: padding 1s ease-in-out;
        @include menu-font;
    }

    &__price {
        position: absolute;
        left: 270px;
        overflow: visible;
        transition: left 1s ease-in-out;

        @include tablet-only {
            left: 720px;
        }

        @include desktop-only {
            left: 360px;
        }
    }

    &__container:hover &__byline--flex,
    &__container:hover &__byline {
        padding-right: 100px;
    }

    &__container:hover &__price {
        left: 220px;

        @include tablet-only {
            left: 650px;
        }

        @include desktop-only {
            left: 300px;
        }

    }

    &__checkmark {
        position: absolute;
        top: 0;
        right: -60px;
        height: 100%;
        width: 50px;
        background: $tertiary-colour;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: right 1s ease-in-out;

        @include tablet-only {
            width: 60px;
        }

        @include desktop-only {
            width: 60px;
        }
    }

    &__container:hover &__checkmark {
        right: 0;
    }

    &__rotate {
        transition: rotate 1s ease-in-out;
        rotate: 0deg;
        color: white;
        font-size: 20px;
    }

    &__container:hover &__rotate {
        rotate: 360deg;
    }
}